//text
$txt-color-1: #D8E0E6;
$txt-color-2: #FFD028;

// background
$dark-bg-1: #1B1D21;
$dark-bg-2: #2B2C32;

// size
$mobile-width: 360px;

// font-family
$font-family: "Poppins", sans-serif;
$font-thin: 100;
$font-extraLight: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semiBold: 600;
$font-bold: 700;
$font-extraBold: 800;
$font-black: 900;