@charset "UTF-8";

//google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

//awesome 6.1.1 kit
@import url('https://kit.fontawesome.com/d08e4b9285.js');


// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
/*@import
  'vendors/normalize';
*/

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
/*
@import
  'layout/header',
  'layout/footer';
*/
// 5. Components

@import
  'components/input/input.scss';

// 6. Page-specific styles

@import
  'pages/Home.module.scss';

// 7. Themes
@import
  'themes/default';

* {
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 100%; //16px

  @include mobile {
    font-size: 87.5%;
  }
}

body {
  font-family: $font-family;
  font-weight: $font-medium;

  background-color: $dark-bg-1;
  color: $txt-color-1;

  @include mobile {
    margin-bottom: 1.25rem; // 16px*1.25 = 20px
    padding: 0 15px;
  }
}